.a-blue {
    border: 1px solid #00A3E0;
    padding: 1em;
    margin: .25em;
}

.dbox {
    /* background-color: #e1e1e1; */
}

h5 {
    margin: 0 1em;
    padding: 0 0.5em;
}

.row1 {
    min-height: 15vh;
}

.row2 {
    min-height: 8vh;
}

.row3 {
    min-height: 45vh;
    /* background-color: #C0C0C0; */
}

.row4 {
    min-height: 20vh;
    /* background-color: #C0C0C0; */
}

.row4 .lrow {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.row4 .lrow img {
    width: 50px;
}

.row4 .lrow a {
    text-decoration: none;
}

/* Using clip-path property */
.hexagon {
    width: 180px;
    height: 160px;
    /* background:linear-gradient(to left, #00A3E0, #84BD00); */
    /* clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%); */
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    background: linear-gradient(to left, #00A3E0, #84BD00);
    padding: 0; margin: 0;
}

.dp {
    display: flex;
    align-items: center;
}

.dp img {
    width: 45px
}